### Import main

In [1]:
from main import Transaction

In [2]:
Customer1 = Transaction()

### 1. Add Item

In [3]:
Customer1.add_item("Bakso", 2, 12000)

Item yang dibeli adalah Bakso sebanyak 2 dengan harga Rp 12000

  Nama Item  Qty  Harga per item  Total harga item
1     Bakso    2           12000             24000

In [4]:
Customer1.add_item("Mie Ayam", 3, 10000)

Item yang dibeli adalah Mie Ayam sebanyak 3 dengan harga Rp 10000

  Nama Item  Qty  Harga per item  Total harga item
1     Bakso    2           12000             24000
2  Mie Ayam    3           10000             30000

### 2. Delete Item

In [5]:
Customer1.delete_item("Bakso")

  Nama Item  Qty  Harga per item  Total harga item
1  Mie Ayam    3           10000             30000

### 3. Reset Transaction

In [6]:
Customer1.reset_transaction()

Semua item berhasil didelete!

### 4. Print List Total Price

In [7]:
Customer1.total_price_print()

Empty DataFrame
Columns: [Nama Item, Qty, Harga per item, Total harga item]
Index: []

HARGA: Rp 0
DISKON: 0%
TOTAL: Rp 0.0

In [8]:
Customer1.add_item("Bakso", 2, 12000)
Customer1.add_item("Mie Ayam", 3, 10000)
Customer1.add_item("Steak", 3, 100000)

Item yang dibeli adalah Bakso sebanyak 2 dengan harga Rp 12000

  Nama Item  Qty  Harga per item  Total harga item
1     Bakso    2           12000             24000
Item yang dibeli adalah Mie Ayam sebanyak 3 dengan harga Rp 10000

  Nama Item  Qty  Harga per item  Total harga item
1     Bakso    2           12000             24000
2  Mie Ayam    3           10000             30000
Item yang dibeli adalah Steak sebanyak 3 dengan harga Rp 100000

  Nama Item  Qty  Harga per item  Total harga item
1     Bakso    2           12000             24000
2  Mie Ayam    3           10000             30000
3     Steak    3          100000            300000

In [9]:
Customer1.total_price_print()

  Nama Item  Qty  Harga per item  Total harga item
1     Bakso    2           12000             24000
2  Mie Ayam    3           10000             30000
3     Steak    3          100000            300000

HARGA: Rp 354000
DISKON: 8%
TOTAL: Rp 325680.0

### 5. Update Item Name

In [10]:
Customer1.update_item_name("Bakso", "Soto")

  Nama Item  Qty  Harga per item  Total harga item
1  Mie Ayam    3           10000             30000
2     Steak    3          100000            300000
3      Soto    2           12000             24000

### 6. Update Item Quantity

In [11]:
Customer1.update_item_qty("Steak", 2)

  Nama Item  Qty  Harga per item  Total harga item
1  Mie Ayam    3           10000             30000
2     Steak    2          100000            200000
3      Soto    2           12000             24000

### 7. Update Item Price

In [12]:
Customer1.update_item_price("Steak", 150000)

  Nama Item  Qty  Harga per item  Total harga item
1  Mie Ayam    3           10000             30000
2     Steak    2          150000            300000
3      Soto    2           12000             24000

### 8. Validation before add item

In [13]:
Customer1.add_item(12, 3, 10000)

Nama item harus berupa string!

In [14]:
Customer1.add_item('Ayam Goreng', '3', 10000)

Qty harus berupa angka!

In [15]:
Customer1.add_item('Ayam Goreng', 3, '10000')

Harga item harus berupa angka!

In [16]:
Customer1.add_item('Ayam Goreng', -2, 10000)

Qty tidak boleh negatif atau 0!

In [17]:
Customer1.add_item('Ayam Goreng', 2, -10000)

Harga item tidak boleh negatif!

### 9. Validation before change item name

In [18]:
Customer1.check_order()

  Nama Item  Qty  Harga per item  Total harga item
1  Mie Ayam    3           10000             30000
2     Steak    2          150000            300000
3      Soto    2           12000             24000

In [19]:
Customer1.update_item_name("Steak", 1)

Nama item baru harus berupa string!

In [20]:
Customer1.update_item_name(1, "Steak")

Nama item harus berupa string!

### 10. Validation before change item qty

In [21]:
Customer1.check_order()

  Nama Item  Qty  Harga per item  Total harga item
1  Mie Ayam    3           10000             30000
2     Steak    2          150000            300000
3      Soto    2           12000             24000

In [22]:
Customer1.update_item_qty('Steak', '3')

Qty baru harus berupa angka!

### 11. Validation before change item price

In [23]:
Customer1.check_order()

  Nama Item  Qty  Harga per item  Total harga item
1  Mie Ayam    3           10000             30000
2     Steak    2          150000            300000
3      Soto    2           12000             24000

In [24]:
Customer1.update_item_price('Steak', '50000')

Harga item baru harus berupa angka!